footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

footer img{
    max-width: 60px;
}

.footerNote{
    padding: 1rem;
    color: gray;
    opacity: 50%;
}